html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
}

/* Ensure the entire content area takes up the available space */
#root > div {
  flex: 1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-text {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; /* Change text color to black */
}

.App-link {
  color: #61dafb;
}

.layout-whole-screen {
  height: 100%;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.right-image{
  
  width: 900px;
  
}
